%section.feature-group
  .container
    .row.flex-row
      .col-sm-12.col-md-6.col-lg-3.feature.js-all-clickable
        .feature-media
          = image_tag "/images/home/feature-thumb-gitlab-com.png", alt: 'GitLab.com screenshot'
        .feature-body
          %h3.feature-label GitLab.com
          %h2.feature-title Host and explore projects
          %p.feature-description
          %a.feature-more{href: "/gitlab-com/"} Sign up

      .col-sm-12.col-md-6.col-lg-3.feature.js-all-clickable
        .feature-media
          = image_tag "/images/home/feature-thumb-blog.png", alt: 'GitLab Navigation screenshot', srcset: "/images/home/feature-thumb-blog_2x.png 2x"
        .feature-body
          %h3.feature-label Blog
          %h2.feature-title How a fix in Go 1.9 sped up our Gitaly service by 30x
          %p.feature-description
          %a.feature-more{href: "/2018/01/23/how-a-fix-in-go-19-sped-up-our-gitaly-service-by-30x/"} Read more

      .col-sm-12.col-md-6.col-lg-3.feature.js-all-clickable
        .feature-media
          = image_tag "/images/home/ibm-think-logo.png", alt: 'IBM Think Logo'
        .feature-body
          %h3.feature-label Event
          %h2.feature-title Join us at IBM Think March 19—22
          %p.feature-description
          %a.feature-more{href: "https://about.gitlab.com/events/"} View all events

      .col-sm-12.col-md-6.col-lg-3.feature.js-all-clickable
        .feature-media
          = image_tag "/images/home/feature-thumb-enterprise-demo.png", alt: 'GitLab Enterprise screenshot', srcset: "/images/home/feature-thumb-enterprise-demo_2x.png 2x"
        .feature-body
          %h3.feature-label Demo
          %h2.feature-title Inside GitLab Enterprise
          %p.feature-description
          %a.feature-more{href: "/eep-demo/"} Register now
