%section.ten-oh-announcement
  .container
    .row
      .col-sm-11.col-lg-6.ten-oh-label
        %span 10.5
      .col-sm-11.col-lg-6.ten-oh-description
        .ten-oh-description-body
          %h2.main-heading New features every month
          %p In this month’s release of GitLab 10.5, we've added integration with Let's Encrypt, better security testing with Gemnasium dependency checks, CI/CD external files, and much more.
          .btn-group
            %a.btn.cta-btn.ghost{href: "/2018/02/22/gitlab-10-5-released/"}
              See what’s new
